.movies {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .movies {
    max-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    max-width: 292px;
  }
}
