.profile {
  margin: 0 auto;
  padding: 75px 0 0 0;
  display: flex;
  flex-direction: column;
  max-width: 410px;
}

.profile__success-message {
  color: #2be080;
  margin: 10px auto 0 auto;
  visibility: hidden;
  align-items: center;
}

.profile__success-message.visible {
  visibility: visible;
}

.profile__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.profile__form {
  margin: 95px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__input-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.profile__input-label {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  flex-shrink: 0;
}

.profile__input {
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  border: none;
  background-color: #202020;
  font-size: 11px;
  font-weight: 400;
  text-align: right;
}

.profile__line {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: #424242;
}

.profile__wrapper {
  margin: 15px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__submit {
  margin: 20px 0 0 0;
  padding: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  background-color: #202020;
  border: none;
}

.profile__submit:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__submit_save {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #4285f4;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
}

.profile__error {
  margin: 160px auto 0 auto;
  padding: 0;
  color: #ff004c;
  font-size: 11px;
  font-weight: 400;
  justify-content: center;
}

.profile__exit {
  margin: 0;
  padding: 0;
  color: #ee3465;
  font-size: 13px;
  font-weight: 500;
  background-color: #202020;
  border: none;
}

.profile__exit:hover {
  opacity: 0.7;
  cursor: pointer;
}

.disabled {
  /* color: #545454; Цвет текста для отключенной кнопки */
  cursor: not-allowed; /* Запрет изменения курсора при наведении на отключенную кнопку */
}

.active:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .profile {
  padding: 230px 0 0 0;
  }
  .profile__form {
    margin: 100px 0 20px 0;
  }

  .profile__wrapper {
    margin: auto 0 269px 0;
  }
  .profile__submit {
    margin: 200px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 80px 0 0 0;
  }

  .profile__form {
    margin: 80px auto 10px auto;
    width: 260px;
  }

  .profile__wrapper {
    margin: auto 0 70px 0;
    padding: 10px 0 0 0;
  }
  .profile__submit {
    margin: 360px 0 0 0;
  }
}
